<ul class="pagination">
    <li class="waves-effect" [class.disabled]="currentPage == 0">
        <a href="" (click)="selectPage($event, currentPage-1)" class="btn"><i class="material-icons">chevron_left</i></a>
    </li>
    <li *ngFor="let page of pageNumbers" [class.active]="page == currentPage">
        <a href="" (click)="selectPage($event, page)">{{ page }}</a>
    </li>
    <li class="waves-effect" [class.disabled]="currentPage * nbItemPerPage >= length">
        <a href="" (click)="selectPage($event, currentPage + 1)" class="btn"><i class="material-icons">chevron_right</i></a>
    </li>
</ul>
