<div class="row">
    <form [formGroup]="form" (ngSubmit)="createAction()">
        <div class="input-field col s12">
            <input type="text" id="title" name="title" [formControl]="form.get('title')">
            <label for="title">Title</label>
            <div *ngIf="form.get('title').hasError('required')" class="error">
                   Le champs est requis
            </div>
        </div>
        <div class="input-field col s12">
            <input type="text" id="description" name="description" [formControl]="form.get('description')">
            <label for="description">Description</label>
        </div>
        <div class="input-field col s12">
            <input type="date" id="dueDate" name="dueDate" [formControl]="form.get('dueDate')">
            <label for="dueDate">Due date</label>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
    
</div>