<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>DueDate</th>
            <th>EndDate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of list|slice:startIndex:endIndex + 1" >
            <td>{{ todo.title }} - {{ 42.1 | europCurrency }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.dueDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ todo.endDate }}</td>
            <td>
                <ng-container *ngFor="let action of actions">
                    <button *ngIf="action == 'delete' && todo.endDate == null" (click)="deleteAction(todo)" class="red"><i class="material-icons">delete</i></button>
                    <button *ngIf="action == 'close' && todo.endDate == null" (click)="closeAction(todo)" class="green"><i class="material-icons">done</i></button>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>

<app-pagination [length]="list.length" [nbItemPerPage]="2" (activePage)="displayPage($event)"></app-pagination>
