<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="input-field col s12">
        <input type="text" name="firstName" id="firstName" formControlName="firstName">
        <label for="firstName">Firstname</label>
    </div>
    <div class="input-field col s12">
        <input type="text" name="lastName" id="lastName" formControlName="lastName">
        <label for="lastName">Lastname</label>
    </div>
    <div>
        <button type="button" (click)="addPhoneNumber()">Add phone number</button>
        <div class="input-field col s12" *ngFor="let phoneNumberControl of PhoneNumbersControls; let i= index">
            <div class="input-field col s12">
                <input type="text" id="title" name="title" [formControl]="phoneNumberControl.get('title')">
                <label for="title">Title</label>
                <div *ngIf="phoneNumberControl.get('title').hasError('required')" class="error">
                       Le champs est requis
                </div>
            </div>
            <div class="input-field col s12">
                <input type="text" id="description" name="description" [formControl]="phoneNumberControl.get('description')">
                <label for="description">Description</label>
            </div>
            <div class="input-field col s12">
                <input type="date" id="dueDate" name="dueDate" [formControl]="phoneNumberControl.get('dueDate')">
                <label for="dueDate">Due date</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn">Ajouter</button>
</form>