<div class="row">
    <div class="col s6">
        <person-register></person-register>
    </div>
    <div class="col s6">
        <person-list></person-list>
    </div>
</div>
<router-outlet></router-outlet>