<div class="row">
    <ul>
        <a [routerLink]="['create']">Création</a>
        <a [routerLink]="['list']">Liste</a>
    </ul>
</div>

<div class="row">
    <router-outlet></router-outlet>
</div>
<!-- <div class="row">
    <div class="col s6">
        <app-todo-create (create)="addToList($event)"></app-todo-create>
    </div>
    <div class="col s6">
        <h1>Liste active</h1>
        <app-todo-list [list]="todoes" [actions]="['delete', 'close']" (delete)="removeFromList($event)"></app-todo-list>
    </div>
</div> -->

<!-- <div class="row">
    <h1>List des supprimers</h1>
    <app-todo-list [list]="removedTodoes"  [actions]="['delete', '']" (delete)="addToList($event)"></app-todo-list>
</div> -->

